@use 'sass:math';

@import '../header/header.scss';
@import '../footer/footer.scss';
@import '../vars/vars.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  //font-family: RobotoMono;
  font-family: Montserrat;
  color: $color-font;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: 100%;
    height: auto;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;
    .header {
      @include header();
    }
    .main {
      margin: 0 auto;
      width: 100%;
      min-height: $main-min-height;
      height: auto;
      @include flex-vertical();
      justify-content: flex-start;
      .hero {
        margin: 0 auto;
        margin-bottom: 40px; // 5%;
        width: 100%;
        //max-height: $slide-height;
        height: 85vh;
        @media only screen and (max-width: 1023px) {
          max-height: $slide-height + $header-height;
        }
        @include flex-vertical();
        justify-content: flex-start;
        .slide {
          margin: 0 auto;
          margin-bottom: 20px;
          width: 100%;
          height: 80%;
          @include flex-horizontal();
          @media only screen and (max-width: 1023px) {
            @include flex-vertical();
            width: 100%;
            height: auto;
          }
          img {
            margin: 0 auto;
            width: math.div($site-width, 2);
            height: auto;
            object-fit: cover;
            @media only screen and (max-width: 1023px) {
              width: 100%;
              height: auto;
            }
          }
          .slide-second {
            @media only screen and (max-width: 1023px) {
              display: none;
            }
          }
        }
        .delivery-box {
          margin: 0 auto;
          width: $block-width;
          height: 20%;
          @include flex-vertical();
          @media only screen and (max-width: 1023px) {
            height: auto;
          }
          &__heading {
            margin: 0 auto;
            margin-bottom: 10px;
            .heading-prime {
              padding: 10px;
              @include text-font(20px, 600, 20px, 0%);
              color: $color-down;
              text-align: center;
            }
          }
          &__order {
            margin: 0 auto;
            width: 100%;
            height: auto;
            @include flex-horizontal();
            .delivery-input {
              height: $header-bottom-height * 0.8;
            }
            .delivery-input::placeholder {
              padding-left: 10px;
              color: $color-down-light;
            }
            .delivery-address {
              width: 40%;
            }
          }
        }
      }
      .featured,
      .best-selling,
      .promo {
        margin: 0 auto;
        margin-bottom: 40px;
        width: $block-width;
        height: fit-content; // auto;
        @include flex-vertical();
        justify-content: flex-start;
        .heading-prime {
          padding: 10px;
          margin-bottom: 20px;
          @include text-font(20px, 600, 20px, 0%);
          color: $color-down;
          //border: 2px solid blue;
        }
        &__block {
          margin: auto;
          width: 100%;
          height: 50vh; // fit-content; // $block-min-height; // auto;
          @include flex-horizontal();
          justify-content: space-between;
          //gap: 10px;
          flex-wrap: wrap;
          overflow: hidden;
          //border: 2px solid red;
          .product {
            margin: 0 auto;
            margin-bottom: 1%;
            width: 19%;
            @media only screen and (max-width: 767px) {
              width: 47%;
            }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              width: 33%;
            }
            height: 100%;
            @include flex-vertical();
            justify-content: space-between;
            border: 1px solid $color-down-light;
            .product-image {
              width: 100%;
              height: auto;
              @include flex-vertical();
              cursor: pointer;
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
            .product-info {
              width: 100%;
              height: auto;
              @include flex-vertical();
              .product-title {
                padding: 10px;
                width: 95%; // 100%;
                height: fit-content; // auto;
                text-decoration: none;
                @include text-font(16px, 600, 32px, 0%);
                color: $color-font;
                text-align: left;
                cursor: pointer;
                //object-fit: contain;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                //white-space: nowrap;
                overflow: hidden;
              }
              .product-title:hover {
                color: $color-prime;
                //@include text-font(16px, 600, 16px, 0%);
              }
              .product-price-box {
                padding: 10px;
                width: 100%;
                height: auto;
                @include flex-horizontal();
                justify-content: flex-start;
                .price-text {
                  @include text-font(14px, 400, 14px, 0%);
                }
                .price-value,
                .price-currency {
                  margin-left: 10px;
                  @include text-font(16px, 500, 16px, 0%);
                }
              }
            }
            .product-button {
              width: 100%;
              height: 30px;
              .to-cart {
                margin: auto;
                padding-left: 10px;
                width: 100%;
                height: 100%;
                text-align: left;
                @include text-font(16px, 600, 16px, 0%);
                color: $color-prime;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
              }
            }
            .product-button:hover .to-cart {
              color: $color-accent;
              //@include text-font(16px, 700, 16px, 0%);
            }
          }
        }
      }
    }
  }
  .footer {
    @include footer();
  }
}
