@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  color: #444444;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
}
.header .header-top {
  margin: 0 auto;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.header .header-top .logo-box {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: start;
}
.header .header-top .logo-box .logo {
  margin: 0 auto;
  width: auto;
  height: 100%;
}
.header .header-top .menu-box {
  margin: auto;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .header .header-top .menu-box {
    display: none;
  }
}
.header .header-top .menu-box__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.header .header-top .menu-box__block .menu-item {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #2c817a;
}
.header .header-top .menu-box__block .menu-item:hover {
  color: #ecc28d;
}
.header .header-top .menu-mini-box {
  margin: auto;
  max-width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .header .header-top .menu-mini-box {
    display: none;
  }
}
.header .header-top .menu-mini-box .menu-mini-button {
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.header .header-top .menu-mini-box .menu-mini {
  margin: 0 auto;
  padding: 10px;
  width: 50vw;
  min-height: 22.5vh;
  position: absolute;
  top: 7.2vh;
  left: -10vw;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  background-color: rgba(57, 167, 157, 0.9);
  z-index: 99;
}
.header .header-top .menu-mini-box .menu-mini .menu-mini-close {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.header .header-top .menu-mini-box .menu-mini .menu-mini-close .close-button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #dca968;
  text-align: right;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.header .header-top .menu-mini-box .menu-mini .menu-item {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: white;
}
.header .header-top .menu-mini-box .menu-mini .menu-item:hover {
  color: #ecc28d;
}
.header .header-top .menu-mini-box .menu-mini-box:hover .menu-mini {
  display: flex;
}
.header .header-top .services-box {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.header .header-top .services-box__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.header .header-top .services-box__block .search-box,
.header .header-top .services-box__block .user-box,
.header .header-top .services-box__block .cart-box {
  margin: auto 0;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.header .header-top .services-box__block .search-box .service-button,
.header .header-top .services-box__block .user-box .service-button,
.header .header-top .services-box__block .cart-box .service-button {
  margin: auto;
  height: 100%;
  background: none;
  border: 1px solid white;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.header .header-top .services-box__block .search-box .service-button img,
.header .header-top .services-box__block .user-box .service-button img,
.header .header-top .services-box__block .cart-box .service-button img {
  margin: auto;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
}
.header .header-top .services-box__block .search-box .service-button svg path,
.header .header-top .services-box__block .user-box .service-button svg path,
.header .header-top .services-box__block .cart-box .service-button svg path {
  stroke: #2c817a;
}
.header .header-top .services-box__block .search-box .service-button .cart-num,
.header .header-top .services-box__block .user-box .service-button .cart-num,
.header .header-top .services-box__block .cart-box .service-button .cart-num {
  position: absolute;
  background-color: #ff5555;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #e4f2f1;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: -5px;
  right: -5px;
}
.header .header-top .services-box__block .search-box .service-button:focus svg path,
.header .header-top .services-box__block .user-box .service-button:focus svg path,
.header .header-top .services-box__block .cart-box .service-button:focus svg path {
  stroke: #dca968;
}
.header .header-top .services-box__block .search-box .service-button:hover svg path,
.header .header-top .services-box__block .user-box .service-button:hover svg path,
.header .header-top .services-box__block .cart-box .service-button:hover svg path {
  stroke: #dca968;
}
.header .header-top .services-box__block .search-box .to-search:hover svg path,
.header .header-top .services-box__block .user-box .to-search:hover svg path,
.header .header-top .services-box__block .cart-box .to-search:hover svg path {
  stroke: #dca968;
}
.header .header-bottom {
  margin: 0 auto;
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #39a79d;
}
.header .header-bottom .search-input-box {
  margin: 0 auto;
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header .header-bottom .search-input-box {
    width: 80%;
  }
}
.header .header-bottom .search-input-box .search-input {
  padding-left: 10px;
  width: 90%;
  height: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: #383838;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #444444;
  background-color: white;
}
@media only screen and (max-width: 1023px) {
  .header .header-bottom .search-input-box .search-input {
    width: 80%;
  }
}
.header .header-bottom .search-input-box .search-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #c1e1df;
}
.header .header-bottom .search-input-box .search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #c1e1df;
}
.header .header-bottom .search-input-box .search-button {
  width: 5%;
  height: 100%;
  border: none;
  outline-color: #515151;
  background-color: #515151;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  .header .header-bottom .search-input-box .search-button {
    width: 10%;
  }
}
.header .header-bottom .search-input-box .clear {
  background-color: white;
  color: #ecc28d;
  outline-color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}
.header .header-bottom .search-input-box .search-close {
  width: 5%;
  height: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline-color: #515151;
  background-color: #515151;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #dca968;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  .header .header-bottom .search-input-box .search-close {
    width: 10%;
  }
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  color: #444444;
}

.footer {
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #2c817a;
}
@media only screen and (max-width: 1023px) {
  .footer {
    height: 30vh;
  }
}
.footer .footer-top {
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.footer .footer-top .footer-logo {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .footer .footer-top .footer-logo {
    height: 30%;
  }
}
.footer .footer-top .footer-logo a {
  margin: auto;
  height: 100%;
}
.footer .footer-top .footer-logo a img {
  margin: auto;
  height: 100%;
}
.footer .footer-top .footer-contacts {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
}
.footer .footer-top .footer-contacts .contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: white;
  text-align: right;
}
.footer .footer-top .footer-menu {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.footer .footer-top .footer-menu .menu-box {
  margin: auto 0;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer .footer-top .footer-menu .menu-box .menu-item {
  margin: auto;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: white;
}
.footer .footer-top .footer-menu .menu-box .menu-item:hover {
  color: #dca968;
}
.footer .footer-bottom {
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .footer .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.footer .footer-bottom .footer-rights {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .footer .footer-bottom .footer-rights {
    height: 30%;
  }
}
.footer .footer-bottom .footer-rights .rights {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: white;
}
.footer .footer-bottom .footer-socials {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .footer .footer-bottom .footer-socials {
    height: 40%;
  }
}
.footer .footer-bottom .footer-socials .socials {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer .footer-bottom .footer-socials .socials .social-item {
  margin-left: 20px;
  height: 100%;
}
.footer .footer-bottom .footer-socials .socials .social-item img {
  height: inherit;
}
.footer .footer-bottom .footer-socials .socials .social-item svg path {
  fill: #e4f2f1;
}
.footer .footer-bottom .footer-socials .socials .social-item:hover svg path {
  fill: #dca968;
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/font/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  color: #444444;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-grow: 1;
}
.wrapper .top .header {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
}
.wrapper .top .header .header-top {
  margin: 0 auto;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .header .header-top .logo-box {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: start;
}
.wrapper .top .header .header-top .logo-box .logo {
  margin: 0 auto;
  width: auto;
  height: 100%;
}
.wrapper .top .header .header-top .menu-box {
  margin: auto;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top .header .header-top .menu-box {
    display: none;
  }
}
.wrapper .top .header .header-top .menu-box__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .header-top .menu-box__block .menu-item {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #2c817a;
}
.wrapper .top .header .header-top .menu-box__block .menu-item:hover {
  color: #ecc28d;
}
.wrapper .top .header .header-top .menu-mini-box {
  margin: auto;
  max-width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .wrapper .top .header .header-top .menu-mini-box {
    display: none;
  }
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini-button {
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini {
  margin: 0 auto;
  padding: 10px;
  width: 50vw;
  min-height: 22.5vh;
  position: absolute;
  top: 7.2vh;
  left: -10vw;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  background-color: rgba(57, 167, 157, 0.9);
  z-index: 99;
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini .menu-mini-close {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini .menu-mini-close .close-button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #dca968;
  text-align: right;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini .menu-item {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: white;
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini .menu-item:hover {
  color: #ecc28d;
}
.wrapper .top .header .header-top .menu-mini-box .menu-mini-box:hover .menu-mini {
  display: flex;
}
.wrapper .top .header .header-top .services-box {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .header-top .services-box__block {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top .header .header-top .services-box__block .search-box,
.wrapper .top .header .header-top .services-box__block .user-box,
.wrapper .top .header .header-top .services-box__block .cart-box {
  margin: auto 0;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .header-top .services-box__block .search-box .service-button,
.wrapper .top .header .header-top .services-box__block .user-box .service-button,
.wrapper .top .header .header-top .services-box__block .cart-box .service-button {
  margin: auto;
  height: 100%;
  background: none;
  border: 1px solid white;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.wrapper .top .header .header-top .services-box__block .search-box .service-button img,
.wrapper .top .header .header-top .services-box__block .user-box .service-button img,
.wrapper .top .header .header-top .services-box__block .cart-box .service-button img {
  margin: auto;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
}
.wrapper .top .header .header-top .services-box__block .search-box .service-button svg path,
.wrapper .top .header .header-top .services-box__block .user-box .service-button svg path,
.wrapper .top .header .header-top .services-box__block .cart-box .service-button svg path {
  stroke: #2c817a;
}
.wrapper .top .header .header-top .services-box__block .search-box .service-button .cart-num,
.wrapper .top .header .header-top .services-box__block .user-box .service-button .cart-num,
.wrapper .top .header .header-top .services-box__block .cart-box .service-button .cart-num {
  position: absolute;
  background-color: #ff5555;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #e4f2f1;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: -5px;
  right: -5px;
}
.wrapper .top .header .header-top .services-box__block .search-box .service-button:focus svg path,
.wrapper .top .header .header-top .services-box__block .user-box .service-button:focus svg path,
.wrapper .top .header .header-top .services-box__block .cart-box .service-button:focus svg path {
  stroke: #dca968;
}
.wrapper .top .header .header-top .services-box__block .search-box .service-button:hover svg path,
.wrapper .top .header .header-top .services-box__block .user-box .service-button:hover svg path,
.wrapper .top .header .header-top .services-box__block .cart-box .service-button:hover svg path {
  stroke: #dca968;
}
.wrapper .top .header .header-top .services-box__block .search-box .to-search:hover svg path,
.wrapper .top .header .header-top .services-box__block .user-box .to-search:hover svg path,
.wrapper .top .header .header-top .services-box__block .cart-box .to-search:hover svg path {
  stroke: #dca968;
}
.wrapper .top .header .header-bottom {
  margin: 0 auto;
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #39a79d;
}
.wrapper .top .header .header-bottom .search-input-box {
  margin: 0 auto;
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top .header .header-bottom .search-input-box {
    width: 80%;
  }
}
.wrapper .top .header .header-bottom .search-input-box .search-input {
  padding-left: 10px;
  width: 90%;
  height: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: #383838;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #444444;
  background-color: white;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top .header .header-bottom .search-input-box .search-input {
    width: 80%;
  }
}
.wrapper .top .header .header-bottom .search-input-box .search-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #c1e1df;
}
.wrapper .top .header .header-bottom .search-input-box .search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #c1e1df;
}
.wrapper .top .header .header-bottom .search-input-box .search-button {
  width: 5%;
  height: 100%;
  border: none;
  outline-color: #515151;
  background-color: #515151;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top .header .header-bottom .search-input-box .search-button {
    width: 10%;
  }
}
.wrapper .top .header .header-bottom .search-input-box .clear {
  background-color: white;
  color: #ecc28d;
  outline-color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}
.wrapper .top .header .header-bottom .search-input-box .search-close {
  width: 5%;
  height: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline-color: #515151;
  background-color: #515151;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #dca968;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  .wrapper .top .header .header-bottom .search-input-box .search-close {
    width: 10%;
  }
}
.wrapper .top .main {
  margin: 0 auto;
  margin-top: 15vh;
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .main .hero {
  margin: 0 auto;
  width: 100%;
  max-height: 100vh- 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .main .hero .delivery-box {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main .hero .delivery-box__heading {
  margin: 0 auto;
  margin-bottom: 10px;
}
.wrapper .top .main .hero .delivery-box__heading .heading-prime {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  color: #2c817a;
  text-align: center;
}
.wrapper .top .main .hero .delivery-box__order {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main .hero .delivery-box__order .delivery-input {
  height: 4.8vh;
}
.wrapper .top .main .hero .delivery-box__order .delivery-input::-moz-placeholder {
  padding-left: 10px;
  color: #c1e1df;
}
.wrapper .top .main .hero .delivery-box__order .delivery-input::placeholder {
  padding-left: 10px;
  color: #c1e1df;
}
.wrapper .top .main .hero .delivery-box__order .delivery-address {
  width: 40%;
}
.wrapper .footer {
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #2c817a;
}
@media only screen and (max-width: 1023px) {
  .wrapper .footer {
    height: 30vh;
  }
}
.wrapper .footer .footer-top {
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .wrapper .footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.wrapper .footer .footer-top .footer-logo {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .wrapper .footer .footer-top .footer-logo {
    height: 30%;
  }
}
.wrapper .footer .footer-top .footer-logo a {
  margin: auto;
  height: 100%;
}
.wrapper .footer .footer-top .footer-logo a img {
  margin: auto;
  height: 100%;
}
.wrapper .footer .footer-top .footer-contacts {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
}
.wrapper .footer .footer-top .footer-contacts .contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: white;
  text-align: right;
}
.wrapper .footer .footer-top .footer-menu {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer-top .footer-menu .menu-box {
  margin: auto 0;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.wrapper .footer .footer-top .footer-menu .menu-box .menu-item {
  margin: auto;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: white;
}
.wrapper .footer .footer-top .footer-menu .menu-box .menu-item:hover {
  color: #dca968;
}
.wrapper .footer .footer-bottom {
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .wrapper .footer .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
}
.wrapper .footer .footer-bottom .footer-rights {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .wrapper .footer .footer-bottom .footer-rights {
    height: 30%;
  }
}
.wrapper .footer .footer-bottom .footer-rights .rights {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: white;
}
.wrapper .footer .footer-bottom .footer-socials {
  margin: auto 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1023px) {
  .wrapper .footer .footer-bottom .footer-socials {
    height: 40%;
  }
}
.wrapper .footer .footer-bottom .footer-socials .socials {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.wrapper .footer .footer-bottom .footer-socials .socials .social-item {
  margin-left: 20px;
  height: 100%;
}
.wrapper .footer .footer-bottom .footer-socials .socials .social-item img {
  height: inherit;
}
.wrapper .footer .footer-bottom .footer-socials .socials .social-item svg path {
  fill: #e4f2f1;
}
.wrapper .footer .footer-bottom .footer-socials .socials .social-item:hover svg path {
  fill: #dca968;
}/*# sourceMappingURL=layout.css.map */