@use "sass:math";

@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  //font-family: RobotoMono;
  font-family: Montserrat;
  color: $color-font;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: 100%;
    height: auto;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;
    .header {
      margin: 0 auto;
      width: 100%;
      height: $header-height;
      @include flex-vertical();
      justify-content: space-between;
      .header-top {
        margin: 0 auto;
        width: 100%;
        height: $header-top-height;
        @include flex-horizontal();
        justify-content: space-between;
        .logo-box {
          margin: auto;
          width: 20%;
          height: 70%;
          @include flex-vertical();
          align-items: start;
          //border: 1px solid red;
          .logo {
            margin: 0 auto;
            width: auto;
            height: 100%;
            //border: 1px solid green;
          }
        }
        .menu-box {
          margin: auto;
          width: 60%;
          height: 70%;
          @include flex-vertical();
          @media only screen and (max-width: 1023px) {
            display: none;
          }
          //border: 1px solid red;
          &__block {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            @include flex-horizontal();
            .menu-item {
              margin: auto;
              width: fit-content;
              text-decoration: none;
              @include text-font(16px, 500, 16px, 0%);
              color: $color-down;
            }
            .menu-item:hover {
              color: $color-hover-accent;
            }
          }
        }
        .menu-mini-box {
          margin: auto;
          width: auto;
          height: auto;
          @include flex-vertical();
          position: relative;
          @media only screen and (min-width: 1024px) {
            display: none;
          }
          .menu-mini-button {
            width: fit-content;
            height: 70%;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
          }
          .menu-mini {
            margin: 0 auto;
            padding: 10px;
            width: 50vw; // fit-content;
            min-height: $header-height * 1.5;
            position: absolute;
            top: $header-top-height * 0.8;
            left: -5px;
            float: left;
            @include flex-vertical();
            display: none;
            justify-content: space-between;
            background-color: rgba($color: $color-prime, $alpha: 0.9);
            z-index: 99;
            .menu-mini-close {
              width: 100%;
              @include flex-horizontal();
              justify-content: flex-end;
              .close-button {
                width: fit-content;
                @include text-font(16px, 500, 16px, 0%);
                color: $color-accent;
                text-align: right;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
              }
            }
            .menu-item {
              margin: 0;
              width: fit-content;
              text-decoration: none;
              @include text-font(16px, 500, 16px, 0%);
              color: white;
            }
            .menu-item:hover {
              color: $color-hover-accent;
            }
          }
          .menu-mini-box:hover .menu-mini {
            display: flex;
          }
        }
        .services-box {
          margin: auto;
          width: 20%;
          height: 70%;
          @include flex-vertical();
          //border: 1px solid red;
          &__block {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            @include flex-horizontal();
            justify-content: flex-end;
            .search-box,
            .user-box,
            .cart-box {
              margin: auto 0;
              margin-left: 2%;
              width: auto;
              height: 100%;
              @include flex-vertical();
              .service-button {
                margin: auto;
                height: 100%;
                background: none;
                border: 1px solid white;
                outline: none;
                @include flex-vertical();
                img {
                  margin: auto;
                  width: auto;
                  height: fit-content;
                  padding: 5px;
                }
              }
              .service-button:focus {
                border: 1px solid $color-prime;
                border-radius: 5px;
                box-sizing: border-box;
              }
            }
          }
        }
      }
      .header-bottom {
        margin: 0 auto;
        width: 100%;
        height: $header-top-height;
        @include flex-vertical();
        background-color: $color-prime;
        .search-input-box {
          margin: 0 auto;
          //margin-left: 2%;
          width: 60%;
          height: 70%;
          @media only screen and (max-width: 1023px) {
            width: 80%;
          }
          @include flex-horizontal();
          display: none;
          //border: 1px solid red;
          .search-input {
            padding-left: 10px;
            width: 90%;
            height: 100%;
            @media only screen and (max-width: 1023px) {
              width: 80%;
            }
            border: none; // 1px solid $color-prime-dark;
            outline: $color-down-dark;
            @include text-font(14px, 400, 14px, 0%);
            color: $color-font;
          }
          .search-input::placeholder {
            @include text-font(14px, 400, 14px, 0%);
            color: $color-down-light;
          }
          .search-button {
            width: 5%;
            height: 100%;
            @media only screen and (max-width: 1023px) {
              width: 10%;
            }
            border: none;
            outline: none;
            background-color: $color-prime-dark;
            @include text-font(16px, 400, 16px, 0%);
            color: white;
          }
          .search-close {
            width: 5%;
            height: 100%;
            @media only screen and (max-width: 1023px) {
              width: 10%;
            }
            border: none;
            outline: none;
            background-color: $color-prime-dark;
            @include text-font(16px, 400, 16px, 0%);
            color: $color-accent;
          }
        }
      }
    }
    .main {
      margin: 0 auto;
      width: 100%;
      min-height: $main-min-height;
      @include flex-vertical();
      justify-content: flex-start;
      .product-block {
        margin: 0 auto;
        margin-top: 2%;
        width: $block-width;
        height: $slide-height * 0.9; // $block-min-height;
        @include flex-vertical();
        //border: 1px solid red;
        .product {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          @include flex-horizontal();
          justify-content: space-between;
          .product-image {
            margin: 0 auto;
            width: auto;
            height: 100%;
            //border: 1px solid blue;
            img {
              margin: auto;
              width: auto;
              height: 100%;
            }
          }
          .product-box {
            margin: 0 auto;
            min-width: 50%;
            height: 100%;
            @include flex-vertical();
            justify-content: space-evenly;
            .product-info {
              margin: 0;
              padding: 1% 5%;
              width: inherit;
              height: 70%;
              @include flex-vertical();
              justify-content: space-evenly;
              //border: 1px solid red;
              .product-title {
                //margin-bottom: 2%;
                height: 20%;
                text-decoration: none;
                @include text-font(22px, 500, 22px, 0%);
                color: $color-prime;
              }
              .product-description {
                height: 50%;
                text-decoration: none;
                @include text-font(16px, 400, 20px, 0%);
                color: $color-font;
              }
              .product-choose-box {
                margin: auto 0;
                width: 100%;
                height: 30%; //fit-content;
                @include flex-horizontal();
                justify-content: flex-start;
                .product-choose {
                  margin: 0 auto;
                  width: 33%;
                  height: 100%;
                  @include flex-vertical();
                  justify-content: space-between;
                  .choose-input {
                    margin: 0;
                    margin-bottom: 10px;
                    width: fit-content; // 100%;
                    height: 20%;
                    @include flex-horizontal();
                    label {
                      margin-left: 20px;
                      @include text-font(16px, 600, 16px, 0%);
                      color: $color-font;
                    }
                  }
                  .choose-text {
                    margin-bottom: 10px;
                    height: 50%;
                    @include text-font(14px, 400, 18px, 0%);
                  }
                  .product-price-box {
                    margin: auto 0;
                    width: 100%;
                    height: 30%; // fit-content;
                    @include flex-horizontal();
                    justify-content: flex-start;
                    .price-value {
                      margin: auto 0;
                      margin-right: 2%;
                      @include text-font(18px, 600, 22px, 0%);
                    }
                    .price-currency {
                      margin: auto 0;
                      //margin-right: 2%;
                      @include text-font(16px, 600, 20px, 0%);
                    }
                  }
                }
              }
            }
            .product-purchase {
              margin: 0;
              padding: 1% 5%;
              width: inherit;
              height: 30%;
              @include flex-horizontal();
              justify-content: flex-start;
              //border: 1px solid red;
              .counter-box {
                margin: auto;
                width: 40%;
                height: 30%;
                @include flex-vertical();
                //border: 1px solid red;
                .counter {
                  margin: 0 auto;
                  width: 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .counter-minus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-font;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-value {
                    width: 50%;
                    @include text-font(20px, 300, 20px, 0%); // font-mix();
                    text-align: center;
                    color: $color-font;
                    //background-color: $color-background;
                    border: none;
                  }
                  .counter-plus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-font;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-minus:hover {
                    color: $color-accent;
                  }
                  .counter-plus:hover {
                    color: $color-accent;
                  }
                }
              }
              .total-box {
                margin: auto;
                width: 40%; // fit-content; // 20%;
                height: 30%;
                @include flex-vertical();
                .total-price {
                  margin: 0 auto;
                  width: 100%; // 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .total-text {
                    margin: auto 0;
                    margin-right: 5%;
                    @include text-font(18px, 600, 18px, 0%);
                  }
                  .total-value {
                    margin: auto 0;
                    margin-right: 2%;
                    @include text-font(18px, 600, 18px, 0%);
                  }
                  .total-currency {
                    margin: auto 0;
                    //margin-right: 2%;
                    @include text-font(18px, 600, 18px, 0%);
                  }
                }
              }
              .buy-button {
                margin: auto;
                padding: 2% 7%;
                height: 30%;
                background-color: $color-down;
                border: none;
                outline: none;
                @include text-font(18px, 500, 18px, 0%);
                color: white;
                cursor: pointer;
              }
              .buy-button:hover {
                background-color: $color-hover;
              }
              .buy-button:focus {
                background-color: $color-hover;
                color: $color-hover-accent;
              }
            }
          }
        }
      }
      .featured {
        margin: 0 auto;
        margin-bottom: 40px;
        width: $block-width; // 100%;
        min-height: $block-min-height; // $slide-height;
        @include flex-vertical();
        justify-content: flex-start;
        //border: 2px solid red;
        .heading-prime {
          padding: 10px;
          @include text-font(20px, 600, 20px, 0%);
          color: $color-down;
          //border: 2px solid blue;
        }
        &__block {
          margin: auto;
          width: 100%;
          //height: auto;
          height: 80%;
          @include flex-horizontal();
          justify-content: space-between;
          @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
          }
          //border: 2px solid orange;
          .product {
            margin: 0 auto;
            width: 19%;
            @media only screen and (max-width: 767px) {
              width: 47%;
            }
            height: 100%;
            @include flex-vertical();
            justify-content: space-between;
            border: 1px solid $color-down-light;
            .product-image {
              width: 100%;
              height: auto;
              @include flex-vertical();
              cursor: pointer;
              img {
                width: 100%;
                height: auto;
              }
            }
            .product-info {
              width: 100%;
              height: auto;
              @include flex-vertical();
              .product-title {
                padding: 10px;
                width: 100%;
                height: auto;
                text-decoration: none;
                @include text-font(16px, 500, 16px, 0%);
                color: $color-font;
                cursor: pointer;
              }
              .product-title:hover {
                @include text-font(16px, 600, 16px, 0%);
              }
              .product-price-box {
                padding: 10px;
                width: 100%;
                height: auto;
                @include flex-horizontal();
                justify-content: flex-start;
                .price-text {
                  @include text-font(14px, 400, 14px, 0%);
                }
                .price-value,
                .price-currency {
                  margin-left: 10px;
                  @include text-font(16px, 500, 16px, 0%);
                }
              }
            }
            .product-button {
              width: 100%;
              height: 30px;
              .to-cart {
                margin: auto;
                padding-left: 10px;
                width: 100%;
                height: 100%;
                text-align: left;
                @include text-font(16px, 500, 16px, 0%);
                color: $color-prime;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
              }
            }
            .product-button:hover .to-cart {
              @include text-font(16px, 700, 16px, 0%);
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 0 auto;
    width: 100%;
    height: $footer-height;
    @media only screen and (max-width: 1023px) {
      height: 30vh;
    }
    @include flex-vertical();
    justify-content: space-between;
    background-color: $color-down;
    .footer-top {
      margin: 0 auto;
      padding-left: 2%;
      padding-right: 2%;
      width: 100%;
      height: 60%;
      @include flex-horizontal();
      @media only screen and (max-width: 1023px) {
        @include flex-vertical();
      }
      justify-content: space-between;
      //border: 1px solid yellow;
      .footer-logo {
        margin: auto 0;
        width: fit-content;
        height: 70%;
        @media only screen and (max-width: 1023px) {
          height: 30%;
        }
        @include flex-vertical();
        //border: 1px solid orange;
        img {
          margin: auto;
          height: 100%;
        }
      }
      .footer-contacts {
        margin: auto 0;
        width: fit-content;
        height: 70%;
        @include flex-vertical();
        .contact {
          @include text-font(14px, 400, 14px, 0%);
          color: white;
        }
      }
      .footer-menu {
        margin: auto 0;
        width: fit-content;
        height: 70%;
        @include flex-vertical();
        //border: 1px solid orange;
        .menu-box {
          margin: auto 0;
          height: 70%;
          @include flex-horizontal();
          justify-content: flex-end;
          flex-wrap: wrap;
          //border: 1px solid yellow;
          .menu-item {
            margin: auto;
            margin-left: 10px;
            text-decoration: none;
            @include text-font(14px, 400, 14px, 0%);
            color: white;
          }
          .menu-item:hover {
            color: $color-down-accent;
          }
        }
      }
    }
    .footer-bottom {
      margin: 0 auto;
      padding-left: 2%;
      padding-right: 2%;
      width: 100%;
      height: 40%;
      @include flex-horizontal();
      @media only screen and (max-width: 1023px) {
        @include flex-vertical();
      }
      justify-content: space-between;
      //border: 1px solid yellowgreen;
      .footer-rights {
        margin: auto 0;
        width: fit-content;
        height: 70%;
        @media only screen and (max-width: 1023px) {
          height: 30%;
        }
        @include flex-vertical();
        .rights {
          @include text-font(14px, 400, 14px, 0%);
          color: white;
        }
      }
      .footer-socials {
        margin: auto 0;
        width: fit-content;
        height: 70%;
        @media only screen and (max-width: 1023px) {
          height: 40%;
        }
        @include flex-vertical();
        .socials {
          margin: auto;
          height: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          flex-wrap: wrap;
          .social-item {
            margin-left: 10px;
            height: 100%;
            img {
              height: inherit;
            }
          }
        }
      }
    }
  }
}
