<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="../styles/footer/footer.css" />
    <script defer src="../scripts/showSearch.js"></script>
    <script defer src="../scripts/showMenu.js"></script>
  </head>
  <body>
    <footer class="footer">
      <section class="footer-top">
        <div class="footer-logo">
          <a href="../index.html">
            <img src="../assets/logo/logo-white-oth.png" alt="logo" />
          </a>
        </div>
        <div class="footer-contacts">
          <p class="contact">+098-765-4321</p>
          <p class="contact">qwe.asd@kukkameri.coms</p>
        </div>
        <div class="footer-menu">
          <div class="menu-box">
            <a class="menu-item" href="../pages/catalog.html"
              >Bouquets&Flowers</a
            >
            <a class="menu-item" href="../pages/catalog.html">Gifts&Cards</a>
            <a class="menu-item" href="../pages/terms.html">Delivery&Payment</a>
            <a class="menu-item" href="../pages/about.html">About us</a>
          </div>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="footer-rights">
          <p class="rights">
            Kukkameri ltd.&nbsp;&#169;&nbsp;All rights reserved
          </p>
        </div>
        <div class="footer-socials">
          <div class="socials">
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/facebook36.png" alt="fb"
            /></a>
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/instagram36.png" alt="ins"
            /></a>
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/telegram36.png" alt="tel"
            /></a>
            <a class="social-item" href="#"
              ><img src="../assets/icons/socials/whatsapp36-2.png" alt="wa"
            /></a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
