<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../styles/header/header.css" />
    <script defer src="../data/catalog.js"></script>
    <script defer src="../scripts/catalogUrl.js"></script>
    <script defer src="../scripts/searchUrl.js"></script>
    <script defer src="../scripts/showCart.js"></script>
    <script defer src="../scripts/showSearch.js"></script>
    <script defer src="../scripts/showMenu.js"></script>
    <script src="../scripts/toCart.js"></script>
  </head>
  <body>
    <header class="header">
      <section class="header-top">
        <div class="logo-box">
          <a class="logo" href="../index.html">
            <img
              class="logo"
              src="../assets/logo/logo-prime-oth.png"
              alt="logo"
            />
          </a>
        </div>
        <div class="menu-box">
          <div class="menu-box__block">
            <a class="menu-item catalog" href="../pages/catalog.html"
              >Bouquets&Flowers</a
            >
            <a class="menu-item catalog" href="../pages/catalog.html"
              >Gifts&Cards</a
            >
            <a class="menu-item" href="../pages/terms.html">Delivery&Payment</a>
            <a class="menu-item" href="../pages/about.html">About us</a>
          </div>
        </div>
        <div class="menu-mini-box">
          <button class="menu-mini-button" type="button" onclick="menuOpen();">
            <img src="../assets/icons/burger24-2.png" alt="menu" />
          </button>
          <div class="menu-mini">
            <div class="menu-mini-close">
              <button class="close-button" onclick="menuClose();">
                &#10006;
              </button>
            </div>
            <a class="menu-item catalog" href="../pages/catalog.html"
              >Bouquets&Flowers</a
            >
            <a class="menu-item catalog" href="../pages/catalog.html"
              >Gifts&Cards</a
            >
            <a class="menu-item" href="../pages/terms.html">Delivery&Payment</a>
            <a class="menu-item" href="../pages/about.html">About us</a>
          </div>
        </div>
        <div class="services-box">
          <div class="services-box__block">
            <div class="search-box">
              <button
                class="service-button to-search"
                type="button"
                onclick="showSearch();"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21 21L16.657 16.657M16.657 16.657C17.3998 15.9141 17.9891 15.0322 18.3912 14.0615C18.7932 13.0909 19.0002 12.0506 19.0002 11C19.0002 9.94939 18.7932 8.90908 18.3912 7.93845C17.9891 6.96782 17.3998 6.08588 16.657 5.34299C15.9141 4.6001 15.0321 4.01081 14.0615 3.60877C13.0909 3.20672 12.0506 2.99979 11 2.99979C9.94936 2.99979 8.90905 3.20672 7.93842 3.60877C6.96779 4.01081 6.08585 4.6001 5.34296 5.34299C3.84263 6.84332 2.99976 8.87821 2.99976 11C2.99976 13.1218 3.84263 15.1567 5.34296 16.657C6.84329 18.1573 8.87818 19.0002 11 19.0002C13.1217 19.0002 15.1566 18.1573 16.657 16.657Z"
                    stroke="#2C817A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="user-box">
              <button class="service-button" type="button" id="btnUser">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 20V19C5 17.1435 5.7375 15.363 7.05025 14.0503C8.36301 12.7375 10.1435 12 12 12M12 12C13.8565 12 15.637 12.7375 16.9497 14.0503C18.2625 15.363 19 17.1435 19 19V20M12 12C13.0609 12 14.0783 11.5786 14.8284 10.8284C15.5786 10.0783 16 9.06087 16 8C16 6.93913 15.5786 5.92172 14.8284 5.17157C14.0783 4.42143 13.0609 4 12 4C10.9391 4 9.92172 4.42143 9.17157 5.17157C8.42143 5.92172 8 6.93913 8 8C8 9.06087 8.42143 10.0783 9.17157 10.8284C9.92172 11.5786 10.9391 12 12 12Z"
                    stroke="#2C817A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="cart-box">
              <button
                class="service-button"
                type="button"
                id="btnCart"
                onclick="toCart();"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.93499 7H7.77299C6.70099 7 5.81099 7.81 5.73499 8.858L5.00499 18.858C4.92099 20.015 5.85799 21 7.04299 21H16.957C18.142 21 19.079 20.015 18.995 18.858L18.265 8.858C18.189 7.81 17.299 7 16.227 7H15.065M8.93499 7V5C8.93499 3.895 9.84999 3 10.978 3H13.022C14.15 3 15.065 3.895 15.065 5V7M8.93499 7H15.065"
                    stroke="#2C817A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <div class="cart-num" id="cartBtnNum">0</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="header-bottom">
        <div class="search-input-box">
          <input
            class="search-input"
            id="inputSearch"
            type="text"
            placeholder="Enter your searching here..."
          />
          <button
            class="search-button clear"
            id="btnSearch"
            type="button"
            onclick="searchReset()"
          >
            &#8634;
          </button>
          <button
            class="search-button"
            id="btnSearch"
            type="button"
            onclick="searchAction()"
          >
            &#9658;
          </button>
          <button class="search-close" type="button" onclick="closeSearch();">
            &#10006;
          </button>
        </div>
      </section>
    </header>
  </body>
</html>
