<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>itemCard</title>
    <link rel="stylesheet" href="../styles/itemCard/itemCard.css" />
  </head>
  <body>
    <div class="product" data-id="12">
      <div class="product-image" data-id="12">
        <img src="../assets/catalog/item-12.png" alt="photo" />
      </div>
      <div class="product-info" data-id="12">
        <a class="product-title" href="#">Lorem ipsum dolor sit</a>
        <div class="product-price-box">
          <p class="price-text">from</p>
          <p class="price-value">22</p>
          <p class="price-currency">&euro;</p>
        </div>
      </div>
      <div class="product-button" data-id="12">
        <button class="to-cart" type="button">Add to cart</button>
      </div>
    </div>
  </body>
</html>
