@use 'sass:math';

@import '../header/header.scss';
@import '../footer/footer.scss';
@import '../vars/vars.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  //font-family: RobotoMono;
  font-family: Montserrat;
  color: $color-font;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: 100%;
    height: auto;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;
    .header {
      @include header();
    }
    .main {
      margin: 0 auto;
      width: 100%;
      min-height: $main-min-height;
      @include flex-vertical();
      justify-content: flex-start;
      .cart-heading {
        margin: 20px auto;
        //margin-bottom: 20px;
        width: 0.8 * $block-width;
        height: fit-content;
        //border: 1px solid red;
        @include flex-horizontal();
        justify-content: space-between;
        .heading-prime {
          margin: 0;
          padding: 10px;
          @include text-font(20px, 600, 20px, 0%);
          color: $color-down;
          //border: 2px solid blue;
        }
        .heading-counter {
          margin: 0;
          padding: 10px;
          margin-left: 20px;
          width: fit-content; // auto;
          height: fit-content;
          @include flex-horizontal();
          text-align: center;
          //border: 2px solid blue;
          &__value {
            margin: 0 auto;
            height: auto; // fit-content;
            @include text-font(28px, 600, 28px, 0);
            text-align: right;
            color: $color-prime;
          }
          &__label {
            margin: 0 auto;
            margin-left: 10px;
            height: auto;
            @include text-font(20px, 400, 28px, 0);
            //line-height: 28px;
            color: $color-prime;
          }
        }
      }
      .cart-list {
        margin: 0 auto;
        margin-bottom: 1%;
        width: 0.8 * $block-width;
        min-height: $cart-item-height; // 85vh; // $slide-height * 0.9;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          margin: 20px auto;
          //margin-bottom: 20px;
          width: 100%;
          height: fit-content;
          //border: 1px solid red;
          @include flex-horizontal();
          justify-content: space-between;
          .heading-prime {
            margin: 0;
            padding: 10px;
            @include text-font(20px, 600, 20px, 0%);
            color: $color-down;
            //border: 2px solid blue;
          }
          .heading-counter {
            margin: 0;
            padding: 10px;
            margin-left: 20px;
            width: fit-content; // auto;
            height: fit-content;
            @include flex-horizontal();
            text-align: center;
            //border: 2px solid blue;
            &__value {
              margin: 0 auto;
              height: auto; // fit-content;
              @include text-font(28px, 600, 28px, 0);
              text-align: right;
              color: $color-prime;
            }
            &__label {
              margin: 0 auto;
              margin-left: 10px;
              height: auto;
              @include text-font(20px, 400, 28px, 0);
              //line-height: 28px;
              color: $color-prime;
            }
          }
        }
        .product {
          margin: 0 auto;
          margin-bottom: 1%;
          width: 100%;
          height: $cart-item-height; // 100%;
          @include flex-horizontal();
          justify-content: space-between;
          //border: 2px solid blue;
          border: 1px solid gray;
          border-radius: 5px;
          .product-image {
            margin: 0 auto;
            width: auto;
            height: 100%;
            @media only screen and (max-width: 1023px) {
              display: none;
            }
            //border: 1px solid orange;
            img {
              margin: auto;
              width: auto;
              height: 100%;
            }
          }
          .product-box {
            margin: 0 auto;
            //min-width: 80%;
            max-width: 80%;
            //width: auto;
            height: 100%;
            @include flex-horizontal();
            @media only screen and (max-width: 767px) {
              padding: 2%;
              @include flex-vertical();
            }
            justify-content: space-evenly;
            //border: 2px solid green;

            .product-info {
              margin: auto 0;
              //padding: 1% 5%;
              width: 40%; // 30%; // 50%; // inherit;
              height: 70%;
              @include flex-horizontal();
              @media only screen and (max-width: 767px) {
                width: 100%;
                height: auto;
                @include flex-vertical();
              }
              justify-content: space-evenly;
              //border: 1px solid red;
              .product-title {
                margin: auto 0;
                padding: 0 10px;
                //margin-bottom: 2%;
                width: 80%; // 90%; // 80%; // 50%; //;
                height: 100%; // 20%;
                @media only screen and (max-width: 767px) {
                  margin-bottom: 3%;
                  width: 100%;
                  height: auto;
                }
                @include flex-vertical();
                text-decoration: none;
                @include text-font(18px, 500, 18px, 0%);
                color: $color-prime;
                //border: 1px solid violet;
              }
              .price-box {
                margin: 0 auto;
                width: 20%; // 15%;
                height: 100%; // inherit;
                //@include flex-vertical();
                //@include flex-horizontal();
                @include flex-vertical();
                @include text-font(16px, 500, 16px, 0%);
                color: $color-prime;
                //border: 1px solid violet;
                @media only screen and (max-width: 1023px) {
                  display: none;
                }
                .price-origin-box {
                  margin: 0 auto;
                  @include flex-horizontal();
                  .price-origin {
                    margin: 0 auto;
                    @include text-font(16px, 500, 16px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-font;
                  }
                  .currency {
                    margin: 0 auto;
                    @include text-font(16px, 500, 16px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-font;
                  }
                }
                .price-active-box {
                  margin: 0 auto;
                  @include flex-horizontal();
                  .price-active {
                    margin: 0 auto;
                    @include text-font(18px, 500, 18px, 0%);
                    text-align: center;
                    color: $color-font;
                  }
                  .currency {
                    margin: 0 auto;
                    @include text-font(18px, 500, 18px, 0%);
                    text-align: center;
                    color: $color-font;
                  }
                }
              }
              .product-size-box {
                margin: auto 0;
                margin-top: 10px;
                margin-bottom: 20px;
                width: 50%; //100%;
                height: 100%; // fit-content; // 10%; // fit-content; // 40px; // fit-content;
                //@include flex-horizontal();
                @include flex-vertical();
                justify-content: center; // flex-start;
                //border: 2px solid green;
                .size-box {
                  margin: auto 0;
                  //margin: 0 auto;
                  width: 100%;
                  height: 100%;
                  @include flex-horizontal();
                  justify-content: flex-start;
                  //border: 1px solid orange;
                  .size {
                    margin-right: 10px;
                    @include text-font(16px, 400, 20px, 0);
                    text-align: left;
                    color: $color-prime-dark;
                  }
                }
              }
              .product-choose-box {
                margin: auto 0;
                width: 50%; // 100%;
                height: 100%; // 30%; //fit-content;
                @include flex-vertical();
                @media only screen and (max-width: 767px) {
                  margin-bottom: 3%;
                  width: 100%;
                  height: auto;
                }
                //justify-content: flex-start;
                //border: 1px solid violet;
                .product-choose {
                  margin: auto 0;
                  width: 90%; // 33%;
                  height: 100%;
                  @media only screen and (max-width: 767px) {
                    margin-bottom: 3%;
                    width: 100%;
                    height: auto;
                  }
                  @include flex-horizontal();
                  justify-content: space-between;
                  //border: 1px solid green;
                  .choose-input {
                    margin: auto; // 0 auto;
                    //margin-bottom: 10px;
                    width: 50%; // fit-content; // 100%;
                    height: 70%; // 20%;
                    @include flex-horizontal();
                    justify-content: flex-start;
                    //border: 1px solid orange;
                    label {
                      margin: auto; // 0;
                      margin-left: 20px;
                      @include text-font(16px, 600, 16px, 0%);
                      color: $color-font;
                    }
                  }
                  .product-price-box {
                    margin: auto; // 0 auto; // 0; // auto 0;
                    width: 50%; // 100%;
                    height: 70%; // fit-content;
                    @include flex-horizontal();
                    //justify-content: flex-start;
                    //border: 1px solid orange;
                    .price-value {
                      margin: auto 0;
                      margin-right: 2%;
                      @include text-font(18px, 600, 22px, 0%);
                    }
                    .price-currency {
                      margin: auto 0;
                      //margin-right: 2%;
                      @include text-font(16px, 600, 20px, 0%);
                    }
                  }
                }
              }
            }
            .product-purchase {
              margin: auto 0;
              //padding: 1% 5%;
              padding-left: 10px; // 3%;
              width: 60%; // 70%; // 50%; // inherit;
              height: 70%; // 30%;
              @include flex-horizontal();
              justify-content: flex-start;
              @media only screen and (max-width: 767px) {
                margin-bottom: 3%;
                width: 100%;
                height: auto;
              }
              //border: 1px solid red;
              .counter-box {
                margin: auto;
                width: 25%; // 40%;
                height: 30%;
                @include flex-vertical();
                //border: 1px solid violet;
                .counter {
                  margin: 0 auto;
                  width: 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .counter-minus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-font;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-value {
                    width: 50%;
                    @include text-font(20px, 300, 20px, 0%); // font-mix();
                    text-align: center;
                    color: $color-font;
                    //background-color: $color-background;
                    border: none;
                  }
                  .counter-plus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-font;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-minus:hover {
                    color: $color-accent;
                  }
                  .counter-plus:hover {
                    color: $color-accent;
                  }
                }
              }
              .total-box {
                margin: auto;
                width: 50%; // 40%; // fit-content; // 20%;
                height: 30%;
                @include flex-vertical();
                //border: 1px solid violet;
                .total-price {
                  margin: 0 auto;
                  width: 100%; // 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .total-text {
                    margin: auto 0;
                    margin-right: 5%;
                    width: 50%; // 30%;
                    @include text-font(16px, 600, 16px, 0%);
                    //border: 1px solid violet;
                  }
                  .total-value {
                    margin: auto 0;
                    margin-right: 2%;
                    width: 50%; // 60%;
                    @include text-font(18px, 600, 18px, 0%);
                    text-align: right;
                    //border: 1px solid violet;
                  }
                  .total-currency {
                    margin: auto 0;
                    //margin-right: 2%;
                    width: 10%;
                    @include text-font(18px, 600, 18px, 0%);
                    //border: 1px solid violet;
                  }
                }
              }
              .buy-button {
                margin: auto;
                margin-left: 1%;
                padding: 2% 7%;
                width: 25%;
                height: 30%;
                background-color: $color-down;
                border: none;
                outline: none;
                @include text-font(18px, 500, 18px, 0%);
                color: white;
                cursor: pointer;
              }
              .buy-button:hover {
                background-color: $color-hover;
              }
              .buy-button:focus {
                background-color: $color-hover;
                color: $color-hover-accent;
              }
              .delete-button {
                margin: auto;
                width: 10%;
                height: 30%;
                background: none;
                border: none;
                outline: none;
                @include text-font(18px, 500, 18px, 0%);
                color: $color-accent;
                cursor: pointer;
                //border: 1px solid violet;
              }
              .delete-button:hover {
                color: $color-prime;
              }
              .delete-button:focus {
                border: 1px solid $color-font;
                border-radius: 5px;
                color: $color-prime;
              }
            }
          }
        }
      }
      .cart-total {
        margin: 0 auto;
        margin-bottom: 20px; // 2%;
        width: 0.8 * $block-width;
        height: auto;
        @include flex-vertical();
        &__block {
          margin: 0 auto;
          margin-bottom: 20px; // 2%;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: flex-end;
          border: 1px solid orange;
          .grandtotal-text {
            @include text-font(22px, 500, 22px, 0%);
          }
          .grandtotal-value {
            margin-left: 40px; // 2%;
            @include text-font(24px, 600, 24px, 0%);
          }
          .grandtotal-currency {
            margin-left: 20px; // 1%;
            @include text-font(22px, 500, 22px, 0%);
          }
        }
        .total-button {
          margin: auto 0;
          padding: 20px 40px; // 1% 2%;
          width: fit-content; // 12vw;
          @media only screen and (max-width: 767px) {
            // margin-bottom: 3%;
            // padding: 3% 5%;
            margin: 0 auto;
            width: 42vw;
            height: auto;
          }
          height: auto;
          align-self: self-end;
          background-color: $color-prime;
          border: none;
          outline: none;
          @include text-font(20px, 500, 20px, 0%);
          color: white;
          cursor: pointer;
        }
        .total-button:hover {
          background-color: $color-hover;
        }
        .total-button:focus {
          background-color: $color-hover;
          color: $color-hover-accent;
        }
      }
    }
  }
  .footer {
    @include footer();
  }
}
