@use "sass:math";

@import "../header/header.scss";
@import "../footer/footer.scss";
@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  //font-family: RobotoMono;
  font-family: Montserrat;
  color: $color-font;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: 100%;
    height: auto;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;
    .header {
      @include header();
    }
    .main {
      margin: 0 auto;
      width: 100%;
      min-height: $main-min-height;
      @include flex-vertical();
      justify-content: flex-start;
      .cart-list {
        margin: 0 auto;
        margin-bottom: 1%;
        width: $block-width;
        min-height: $slide-height * 0.9;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          margin: 0 auto;
          margin-bottom: 20px;
          width: 100%;
          height: fit-content;
          //border: 1px solid red;
          @include flex-horizontal();
          justify-content: space-between;
          .heading-prime {
            padding: 10px;
            @include text-font(20px, 600, 20px, 0%);
            color: $color-down;
            //border: 2px solid blue;
          }
        }
        .product {
          margin: 0 auto;
          margin-bottom: 1%;
          width: 100%;
          height: $cart-item-height; // 100%;
          @include flex-horizontal();
          justify-content: space-between;
          //border: 2px solid blue;
          border: 1px solid gray;

          .product-image {
            margin: 0 auto;
            width: auto;
            height: 100%;
            //border: 1px solid orange;
            img {
              margin: auto;
              width: auto;
              height: 100%;
            }
          }
          .product-box {
            margin: 0 auto;
            min-width: 80%;
            //width: auto;
            height: 100%;
            @include flex-horizontal();
            justify-content: space-evenly;
            //border: 2px solid green;

            .product-info {
              margin: auto 0;
              //padding: 1% 5%;
              width: 50%; // inherit;
              height: 70%;
              @include flex-horizontal();
              justify-content: space-evenly;
              //border: 1px solid red;
              .product-title {
                margin: auto 0;
                //margin-bottom: 2%;
                width: 50%; //;
                height: 100%; // 20%;
                @include flex-vertical();
                text-decoration: none;
                @include text-font(22px, 500, 22px, 0%);
                color: $color-prime;
                //border: 1px solid violet;
              }
              .product-choose-box {
                margin: auto 0;
                width: 50%; // 100%;
                height: 100%; // 30%; //fit-content;
                @include flex-vertical();
                //justify-content: flex-start;
                //border: 1px solid violet;
                .product-choose {
                  margin: auto 0;
                  width: 90%; // 33%;
                  height: 100%;
                  @include flex-horizontal();
                  justify-content: space-between;
                  //border: 1px solid green;
                  .choose-input {
                    margin: auto; // 0 auto;
                    //margin-bottom: 10px;
                    width: 50%; // fit-content; // 100%;
                    height: 70%; // 20%;
                    @include flex-horizontal();
                    //border: 1px solid orange;
                    label {
                      margin: auto; // 0;
                      margin-left: 20px;
                      @include text-font(16px, 600, 16px, 0%);
                      color: $color-font;
                    }
                  }
                  .product-price-box {
                    margin: auto; // 0 auto; // 0; // auto 0;
                    width: 50%; // 100%;
                    height: 70%; // fit-content;
                    @include flex-horizontal();
                    //justify-content: flex-start;
                    //border: 1px solid orange;
                    .price-value {
                      margin: auto 0;
                      margin-right: 2%;
                      @include text-font(18px, 600, 22px, 0%);
                    }
                    .price-currency {
                      margin: auto 0;
                      //margin-right: 2%;
                      @include text-font(16px, 600, 20px, 0%);
                    }
                  }
                }
              }
            }
            .product-purchase {
              margin: auto 0;
              //padding: 1% 5%;
              //padding-left: 3%;
              width: 50%; // inherit;
              height: 70%; // 30%;
              @include flex-horizontal();
              justify-content: flex-start;
              //border: 1px solid red;
              .counter-box {
                margin: auto;
                width: 25%; // 40%;
                height: 30%;
                @include flex-vertical();
                //border: 1px solid violet;
                .counter {
                  margin: 0 auto;
                  width: 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .counter-minus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-font;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-value {
                    width: 50%;
                    @include text-font(20px, 300, 20px, 0%); // font-mix();
                    text-align: center;
                    color: $color-font;
                    //background-color: $color-background;
                    border: none;
                  }
                  .counter-plus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-font;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-minus:hover {
                    color: $color-accent;
                  }
                  .counter-plus:hover {
                    color: $color-accent;
                  }
                }
              }
              .total-box {
                margin: auto;
                width: 40%; // 40%; // fit-content; // 20%;
                height: 30%;
                @include flex-vertical();
                //border: 1px solid violet;
                .total-price {
                  margin: 0 auto;
                  width: 100%; // 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .total-text {
                    margin: auto 0;
                    margin-right: 5%;
                    width: 30%;
                    @include text-font(18px, 600, 18px, 0%);
                    //border: 1px solid violet;
                  }
                  .total-value {
                    margin: auto 0;
                    margin-right: 2%;
                    width: 60%;
                    @include text-font(18px, 600, 18px, 0%);
                    text-align: right;
                    //border: 1px solid violet;
                  }
                  .total-currency {
                    margin: auto 0;
                    //margin-right: 2%;
                    width: 10%;
                    @include text-font(18px, 600, 18px, 0%);
                    //border: 1px solid violet;
                  }
                }
              }
              .buy-button {
                margin: auto;
                margin-left: 1%;
                padding: 2% 7%;
                width: 25%;
                height: 30%;
                background-color: $color-down;
                border: none;
                outline: none;
                @include text-font(18px, 500, 18px, 0%);
                color: white;
                cursor: pointer;
              }
              .buy-button:hover {
                background-color: $color-hover;
              }
              .buy-button:focus {
                background-color: $color-hover;
                color: $color-hover-accent;
              }
              .close-button {
                margin: auto;
                width: 10%;
                height: 30%;
                background: none;
                border: none;
                outline: none;
                @include text-font(18px, 500, 18px, 0%);
                color: $color-accent;
                cursor: pointer;
              }
              .close-button:hover {
                color: $color-prime;
              }
              .close-button:focus {
                border: 1px solid $color-font;
                border-radius: 5px;
                color: $color-prime;
              }
            }
          }
        }
      }
      .cart-total {
        margin: 0 auto;
        margin-bottom: 2%;
        width: $block-width;
        height: auto;
        @include flex-vertical();
        &__block {
          margin: 0 auto;
          margin-bottom: 1%;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: flex-end;
          .grandtotal-text {
            @include text-font(22px, 500, 22px, 0%);
          }
          .grandtotal-value {
            margin-left: 1%;
            @include text-font(24px, 600, 24px, 0%);
          }
          .grandtotal-currency {
            margin-left: 1%;
            @include text-font(22px, 500, 22px, 0%);
          }
        }
        .total-button {
          margin: auto 0;
          padding: 1% 2%;
          width: 12vw;
          height: auto;
          align-self: self-end;
          background-color: $color-prime;
          border: none;
          outline: none;
          @include text-font(20px, 500, 20px, 0%);
          color: white;
          cursor: pointer;
        }
        .total-button:hover {
          background-color: $color-hover;
        }
        .total-button:focus {
          background-color: $color-hover;
          color: $color-hover-accent;
        }
      }
    }
  }
  .footer {
    @include footer();
  }
}
