@use "sass:math";

@import "../header/header.scss";
@import "../footer/footer.scss";
@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  //font-family: RobotoMono;
  font-family: Montserrat;
  color: $color-font;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: 100%;
    height: auto;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;
    .header {
      @include header();
    }
    .main {
      margin: 0 auto;
      width: 100%;
      min-height: $main-min-height;
      @include flex-vertical();
      //justify-content: flex-start;
      text-align: center;
    }
  }
  .footer {
    @include footer();
  }
}
